*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #F4F4F4;
  }
  
  body{
    background-image: url(../img/background.png);
    background-size: cover;
  }
  
  a{
    pointer-events: auto;
  }
  
  /* ============== 上方橫列 ============== */
  
  .lists{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .lists img{
    width: 44px;
  }
  
  .Uriflow{
    font-weight: 800;
    font-size: 24px;
    line-height: 44px;
    margin-left: 40px;
  }
  
  /* === END === */


  /* ============== 添加藥物 ============== */
  .add_medicine{
    background-color: #F4F4F4;
    margin: 16px;
    height: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }

  .add_medicine p{
    color: #4c4c4c;
    font-size: 18px;
    font-weight: bolder;
    line-height: 25px;
  }

  .add_medicine img{
    height: 20px;
    padding-top: 2px;
  }
  /* === END === */

  /* ============== 藥物 ============== */
  .medcine_A{
    background-color: #F4F4F4;
    margin: 16px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }

  .medcine_B{
    background-color: #F4F4F4;
    margin: 16px;
    height: 60px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px;
  }

  .medcine_A img{
    height: 40px;
    padding-top: 8px;
  }

  .medcine_B img{
    height: 40px;
    padding-top: 8px;
  }
  
  .name{
    color: #4c4c4c;
    font-weight: bolder;
    font-size: 18px;
  }

  .usage{
    color: #4c4c4c;
    font-size: 14px;
  }

  .medicine_button div {
    background-color: #eaeaea; 
    color: #4c4c4c;
    font-weight: bolder;
    font-size: 12px;
    height: 25px;
    width: 90px;
    border-radius: 4px;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; 
  }
  
  .active {
    background-image: url(../img/button_background.png) !important; 
    color: white !important;
  }
  
  /* === END === */

  /* ============== 囑咐 ============== */
  .notes_title{
    font-weight: bolder;
    font-size: 18px;
    margin-left: 160px;
  }

  .allergens{
    background-color: #F4F4F4;
    margin: 16px;
    padding: 16px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }

  .allergens_lists{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .allergens_lists img{
    width: 40px;
  }

  .allergens_lists p{
    color: #4c4c4c;
    font-size: 14px;
  }

  .row1,.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 16px;
  }

  .text{
    color: #FA1515;
    font-weight: bolder;
    font-size: 12px;
    padding-top: 16px;
  }
  /* === END === */