*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #F4F4F4;
  }
  
  body{
    background-image: url(../img/background.png);
    background-size: cover;
  }
  
  a{
    pointer-events: auto;
  }
  
  /* ============== 上方橫列 ============== */
  
  .lists{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 45px;
    margin-left: 16px;
    margin-right: 16px;
  }
  
  .lists img{
    width: 44px;
  }
  
  .Uriflow{
    font-weight: 800;
    font-size: 24px;
    line-height: 44px;
    margin-left: 40px;
  }
  
  /* === END === */


   /* ============== 個人資料 ============== */
   .container{
    position: relative;
   }

  .personal{
    position: absolute;
    margin: 16px;
    background-color: #F4F4F4;
    width: 91%;
    height: 380px;
    border-radius: 10px;
    top: 0;
    left: 0;
    margin-top:40px;
  }

  .line{
    height: 2px;
    margin-top: 3px;
    background-color: #E8E8E8;
  }
  
  .personal_pic{
    position: absolute;
    margin-left: 130px;
    z-index: 1;
  }

  .name{
    padding: 16px;
    padding-top: 70px;
  }

  .small{
    font-size: 12px;
    padding-bottom: 10px;
  }

  .name p{
    color: #4c4c4c;
    font-weight: 500;
    font-style: 16px;
  }

  .title{
    padding: 16px;
    padding-top: 8px;
  }

  .title p{
    color: #4c4c4c;
    font-weight: 500;
    font-style: 16px;
  }

   /* === END === */

   /* ============== 家屬 ============== */
   .family{
    margin: 16px;
    background-color: #F4F4F4;
    height: 150px;
    border-radius: 10px;
    margin-top: 440px;
   }

   .family_name{
    padding: 16px;
  }

  .family_name p{
    color: #4c4c4c;
    font-weight: 500;
    font-style: 16px;
  }

  .phone{
    padding-left: 16px;
    padding-right: 16px;
  }

  .phone p{
    color: #4c4c4c;
    font-weight: 500;
    font-style: 16px;
  }

/* === END === */


/* ============== 使用者隱私條款 ============== */
.privacy{
    background-color: #F4F4F4;
    height: 50px;
    margin: 16px;
    border-radius: 10px;
}

.privacy_inf{
    display: flex;
    flex-direction: row;
}

.privacy_inf p{
    font-weight: 800;
    color: #4c4c4c;
    font-style: 14px;
    padding-top: 13px;
    padding-left: 10px;
}

.privacy_inf img{
    padding-left: 16px;
    padding-top: 10px;
}

/* === END === */